@import "~bootstrap/less/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|UnifrakturMaguntia');

@font-family-base: @font-family-serif;
@font-family-monospace: 'Anonymous Pro', monospace;

.center {
    text-align: center;
}

.fraktur {
    font-family: 'UnifrakturMaguntia';
}

.min-width {
    white-space: nowrap;
}

.max-width {
    width: 100%;
}
