include ../mixins/abbrevs.pug
include ../mixins/link.pug
include ../mixins/snippet.pug

p.
  My name is Aaron Zeng. I am a junior studying Electrical Engineering and
  Computer Science at #[+mit].

p.
  Sometimes I write code. This is some code I wrote during summer &apos;16
  (#[+github-link('janestreet/ecaml')]).

+snippet('ocaml')
  include /public/emacs.ml

+snippet('c')
  include /public/ecaml_stubs.c

p.
  I enjoy #[span.fraktur Calligraphy] and collecting things, viz., slide rules,
  knives, and watches.
