mixin nav-entry(url, text)
  li(class={ active: currentUrl === url })
    a(href=url)
      = text

nav.navbar.navbar-default.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') bcc32
    div#navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        +nav-entry('/'           , 'About Me')
        +nav-entry('/blag'       , 'Blag')
        +nav-entry('/message-log', 'Message Log')
        +nav-entry('/u'          , 'URL Shortener')
