mixin navbar
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') bcc32
      ul.nav.navbar-nav
        li.active: a(href='/') Home
        li: a(href='/blag') Blag
        li: a(href='/u') URL Shortener
