doctype html
html
  head
    link(rel='stylesheet', href='css/style.css')
  body
    h1 Welcome

    p: table#messages
      th Time
      th Message
      for msg in messages
        tr
          td= msg.timestamp
          td= msg.message
      else
        tr: td.center(colspan=2) (no messages)
