extends layout

block init
  - const currentUrl = '/';
  - const pageTitle = 'About Me';

block content
  h1 About me
  p I study Computer Science at #[+mit], class of &apos;18.
  h2 Badges
  img(src='https://projecteuler.net/profile/bcc32.png',alt='Project Euler')
  include includes/footer
