extends layout.pug

block content
  h1 Welcome

  p: form#message-form
    div.form-group
      div.input-group
        label.sr-only(for='message') Message
        input#message.form-control(placeholder='Write something...')
        span.input-group-btn
          button.btn.btn-default(type='submit') Post

  p: table#messages.table.table-condensed.table-hover
    thead
      th.max-width Message
      th.min-width Time
    tbody
      for msg in messages
        tr
          td.max-width= msg.message
          td.min-width(title=msg.timestamp)= msg.time
    tfoot
      - const word = 'message' + (messages.length === 1 ? '' : 's');
      - const number = messages.length ? String(messages.length) : 'no'
      tr: td.center(colspan=2) (#{number} #{word})

  h2#about-me About me
  include includes/about-me.pug
