doctype html
html
  head
    script(type='text/javascript', src='bundle.js')
  body
    h1 Welcome

    p: form#message-form
      input#message

    p: table#messages
      th Time
      th Message
      for msg in messages
        tr
          td= msg.timestamp
          td= msg.message
      else
        tr: td.center(colspan=2) (no messages)
