extends layout.pug

block content
  h1 Welcome

  p: form#message-form
    div.form-group
      div.input-group
        label.sr-only(for='message') Message
        input#message.form-control(placeholder='Write something...')
        span.input-group-btn
          button.btn.btn-default(type='submit') Post

  div#app

  h2#about-me About me
  include includes/about-me.pug
