extends layout.pug

block init
  - var currentUrl = '/message-log';

append scripts
  // TODO figure out how to get this to work with rollup
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
  script(type='text/javascript', src='/message-log.js')

block content
  div#app
