extends layout

block init
  - const currentUrl = '/message-log';
  - const pageTitle = 'Message log';

append scripts
  +socket-io
  script(type='text/javascript', src='/message-log.js')

block content
  h1 Message log
  div#app
