extends layout

block init
  - const currentUrl = '/message-log';
  - const pageTitle = 'Message log';

append scripts
  // TODO figure out how to get this to work with rollup
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/message-log.js')

block content
  h1 Message log
  div#app
