mixin mit
  abbr.initialism(title='Massachusetts Institute of Technology') MIT

mixin link(href)
  a(href=href).link&attributes(attributes)
    if block
      block
    else
      href

mixin github-link(short_form)
  +link('https://github.com/' + short_form)
    code= short_form

mixin snippet(lang)
  pre&attributes(attributes)
    code(class='language-'+lang)
      block

mixin navbar
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') bcc32
      ul.nav.navbar-nav
        li(class={ active: currentUrl === '/'     }): a(href='/') Home
        li(class={ active: currentUrl === '/blag' }): a(href='/blag') Blag
        li(class={ active: currentUrl === '/u'    }): a(href='/u') URL Shortener
