mixin mit
  abbr.initialism(title='Massachusetts Institute of Technology') MIT

mixin link(href)
  a(href=href).link&attributes(attributes)
    if block
      block
    else
      href

mixin github-link(short_form)
  +link('https://github.com/' + short_form)
    code= short_form

mixin snippet(lang)
  pre&attributes(attributes)
    code(class='language-'+lang)
      block
