extends layout

block init
  - const currentUrl = '/u';
  - const pageTitle = 'URL shortener service';

append scripts
  script(src='/url-shortener.js')

block content
  h1 URL shortener service

  div#app
