{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "external-helpers",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "transform-async-to-bluebird",
    "transform-es2015-modules-commonjs",
  ]
}
